/* Large Mobile (425px to 600px width) */
@media screen and (max-width: 600px) and (min-width: 425px) {
    .activity-container {
        width:100%;
        height: 40rem;
        display:block;
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .activity-img-container {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
    }

    .activity-img {
        width: 12rem; /* Adjust image size for large mobile */
        height: 10rem; /* Adjust image height for large mobile */
    }

    .activity-name {
        font-size: 1.2rem; /* Adjust font size for activity name */
        margin-top: 0.5rem;
    }

    .activity-des {
        width: 90%;
        font-size: 1rem; /* Adjust description font size */
        line-height: 1.5;
    }
}
